/*620109753 R.Reid*/

.navbar-custom{
  background-color: #000080;
}

.navbar-brand{
  color: #F5FFFA;
  font-weight: bold;
}

.nav-link{
  color: #F5FFFA;
  font-weight: bolder;
}

.navbar-toggler-icon{
  background-color: #F5FFFA;
  color: black;
}

.nav-item{
 border-right: 1px solid #F5FFFA;
}

.nav-item:last-child{
 border-right: none;
}

.home_img{
  width: 25px;
  height: auto;
}

.about_img{
  width: 25px;
  height: auto;
}

.profiles_img{
  width: 25px;
  height: auto;
}

.profile_img{
  width: 25px;
  height: auto;
}

/*Project changes are listed above*/

body {
    padding-top: 5rem;
}

.upperContainer{
  background-color: white;
  height: 301px;
  width: auto;
  padding-left: 20%;
}

.lowerContainer{
  background-color: white;
  height: 501px;
  width: auto;
  padding-left: 20%;
}

.viewBox1{
  background-color: #191970;
  height: 300px;
  width: 50%;
  border: 2px;
  border-style: solid;
  border-color: blue;
}

.viewBox2{
  background-color: #9370DB;
  height: 100px;
  width: 50%;
  border: .5px;
}

.viewBox21{  /*Post, Follwers and Following super class*/
  background-color: #9370DB;
  height: 200px;
  width: 50%;
  color: #191970;
  padding-top: 2.5%;

}

.viewBox22{
  background-color: #9370DB;
  height: 100px;
  width: 50%;
}

 h1.name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 2%;
  text-align: center;
  color: #F5FFFA;
 }

 p.info{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  padding-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  color: #191970;
 }

.profile_img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 125px;
  width: 125px;
  justify-content: center;
  border-radius: 50%;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #F5FFFA;
}

.button{
  background-color: #FFD700;
  color: #DAA520;
  font-weight: bold;
  border-color: #DAA520;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  margin-left: 80%;
  margin-top: 5%;
}

table,th,td{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}
